body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* landing */

.landing {
  background-image: url("https://cdn.wallpapersafari.com/29/44/linm7I.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 15px solid rgb(66, 65, 65);
  height: 750px;
  color: white;
}

#logo {
  color: red;
  font-family: "Noto Sans", sans-serif;
  display: inline-block;
  margin-top: 20px;
}

.btn-danger {
  float: right;
  margin-top: 23px;
  background-color: red !important;
  margin-right: 25px;
  width: 100px;
}

#content {
  margin-top: 100px;
  text-align: center;
}
.margin {
  text-align: center;
  margin-top: 35px;
  font-weight: 400;
}
.form-control {
  width: 300px;
  border-radius: 0px;
  padding: 15px;
}
.input-group {
  margin-top: 20px;
  width: 700px;
  text-align: center;
  margin: 30px auto;
}

#button-addon2 {
  background-color: red;
  color: white;
  width: 150px;
}

/* section-2 */
.sections {
  background-color: black;
  height: 400px;
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 15px solid rgb(66, 65, 65);
}
.details {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 120px;
  padding-left: 10%;
}
.image {
  width: 50%;
  height: 100%;
}
.image img {
  position: relative;
  height: 300px;
  width: 500px;
  top: 40px;
  left: 15%;
}

.section-four {
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding-top: 40px;
  height: 800px;
}
.section-four h1 {
  font-size: 3.2rem;
}
.list-group {
  width: 60%;
  margin: 50px auto;
}

.list-group li {
  padding: 20px;
  background-color: rgb(58, 56, 56) !important;
  color: white !important;
  font-size: 1.5rem;
  margin-bottom: 5px;
  text-align: left;
  box-sizing: border-box;
  /* width: 600px; */
}
i {
  float: right;
}

/* navbar */
.navbar {
  background-color: black !important;
  color: white !important;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  color: white;
}
.navbar-brand {
  color: red !important;
  font-size: 2.2rem !important;
}

.main {
  background-image: url("https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABYTKuvKPXVW5xxiTw9ObgIBtDetEW1Riq5lqQuFjDhSkABcNvt9ZUBOYapIVy--IBFVsJmnd4_LoQbcbJz1Gc0fV5tKFBT_dW79yBlnuGocNWDR5.jpg?r=c31");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 560px;
  color: white;
  position: relative;
  top: 77px;
}
